@{
  Layout = "_Layout";
}

<h1>Welcome to the Cool restaurant website!</h1>
<p>@Html.ActionLink("See all items", "Index", "Restaurants")</p> <p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>